{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
<h1>Ajouter une critique</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'review-form'}}) }}

{# affiche tous les champs du formulaire #}
    {{ form_widget(form) }}

    {# on ajoute manuellement un bouton de soumission #}
    <button type="submit" class="btn btn-success">Enregistrer</button>

    {# fermeture de balise form #}
{{ form_end(form) }}
{% endblock %}
