{% extends 'base.html.twig' %}

{% block title %}Ajouter une voiture{% endblock %}

{% block body %}
<div class="container-xl bg-light p-5 border-top">
<a href="{{ path('app_car') }}" class="btn btn-sm btn-primary">Retour a la List </a>
<h1 class='text-center'>Ajouter une voiture</h1>

{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'review-form'}}) }}

{# affiche tous les champs du formulaire #}
    {{ form_widget(form) }}

    {# on ajoute manuellement un bouton de soumission #}
    <button type="submit" class="btn btn-success">Enregistrer</button>

    {# fermeture de balise form #}
{{ form_end(form) }}
</div>
{% endblock %}
